
.plantonista {
    display: none;
}

body {
    overflow: scroll;
}


.select-usuarios{
    display:inline-block;
}

#usuarios{
    display:block;
}

.card{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
